#header {
    display: block;
    margin: 0;
    width: 100%;
    height: 140px;
    background-color: white;
    border: none;
}

.logo-image {
    float: left;
    height: 100px;
    width: 100px;
    padding: 20px;
    position: absolute;

    border: none;
}

#logo-text {
    margin: 4px 0px 0px 135px;
    position: absolute;
    border: none;
}

.logo-text {
    font-weight: bold;
    text-align: left;
    color: #B900E0;
    font-family: "Sofia", sans-serif;
}

#mainNav {
    display: inline-block;
    margin: 82px 0px 60px 300px;
    width: 60%;
    height: 35%;
    position: relative;
    text-align: left;
    border: none;    
}

.navigation-options {
    display: inline-block;
    margin: 0 auto;
    border: none;
}

.navigation-options :hover {
    color: #B900E0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    color: black;
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Helvitica, sans-serif;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 8px;
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1}

.nav-text {
    display: inline-block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvitica, sans-serif;
    padding: 10px 60px 10px 0px;
}

.nav-text:hover .dropdown-content {
    display: block;
}

.arrow {
    display: inline-block;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #slideshow {
      display: block;
      background-image: url("StaticStoreFrontPictures/DogWithOcean.jpg");
      background-color: #cccccc;
      height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #search-box {
      display: inline-block;
      background: rgb(255, 255, 255, 0.7);
      height: 50%;
      width: 40%;
      margin: 150px 0 0 30%;
  }

  .search-bar-header {
      text-align: center;
      font-size: 24pt;
      color:#69A61C;
      font-family: Arial, Helvitica, sans-serif;
      margin: 50px 30px 40px 30px;  
  }

  #search-bar {
      text-align: center;
  }

  #search-bar input {
      height: 30px;
      width: 400px;
      border: solid;
      border-color: #8C0CA6;
      border-width: 3px;
      border-radius: 5px;
      font-family: Arial, Helvitica, sans-serif;
      font-weight: none;
      font-size: 14pt;
      color: #69A61C;
  }

  #search-filters1 {
      display: inline-block;
      text-align: center;
      height: 30px;
      width: 150px;
      margin: 45px 0px 50px 21%;
      background: #8C0CA6;
      font-family: Arial, Helvitica, sans-serif;
      font-weight: bold;
      font-size: 16pt;
      padding: 5px 0 0 5px;
      border: solid #69A61C;
      border-width: 3px;
      border-radius: 8px;
  }

  #search-filters1 a {
    text-decoration: none;
    color: #B9FF5E;
  }

  #search-filters1:hover {
    text-decoration: none;
    background-color: #B900E0;
  }

  #search-filters2 {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 140px;
    margin: 0 0 0 10px;
    background: #8C0CA6;
    font-family: Arial, Helvitica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    padding: 5px 0 0 5px;
    border: solid #69A61C;
    border-width: 3px;
    border-radius: 8px;
}

#search-filters2 a {
    text-decoration: none;
    color: #B9FF5E;
  }

  #search-filters2:hover {
    text-decoration: none;
    background-color: #B900E0;
  }












